.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

.box {
    border: 2px solid grey;
    height: auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow:grey 3px 3px 5px, grey 0px 4px 50px 5px;
}

h1 {
    font-size: 30pt;
    color: darkcyan;
    text-shadow: 1px 1px darkgrey;
}

img {
    height: 200px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 10px -4px rgb(78, 169, 230);
    margin: 20px 0px 0px 0px;
}

.text {
    width: 80%;
    font-size: 18pt;
    color: rgb(78, 78, 78);
    text-align: center;
}

button {
    font-size: 24pt;
    color: cadetblue;
    
}

.buttons button {
    border: none;
    background-color: rgba(0,0,0,0);
}

#next {
    margin-left: 20px;
}

button:hover {
    background-color: rgba(0,0,0,0.3);
}

#surpriseMe {
    font-size: 10pt;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px;
}

.userInfo {
    line-height: 1;
    text-align: center;
}

#name {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0px;
}

#career {
    font-weight: 100;
    color: rgb(78, 169, 230);
    padding: 0px;
}